.container-fluid {
  background-color: #12151c;
  color: white;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.4fr 1.2fr;
  grid-template-areas: 
  "navbar navbar navbar navbar"
  "mixtapes cassette cassette cassette"
  "mixtapes player_panel player_panel player_panel"
  "mixtapes community community community"
  ;
  grid-gap: 0.5rem;
}

#navbar {
  background-color: #1b222c;
  grid-area: navbar;
}

#mixtapes {
  background-color: #1b222c;
  grid-area: mixtapes;
  overflow: auto;
  white-space: nowrap;
}
  .mixtape {
    background: linear-gradient(90deg, #12151C 0%, #1c212b 35%, #161b22 100%);
    margin: 10px;

    display: flex;
    align-items: center;

    overflow: hidden;
  }
    .mixtape_image {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
    }
    .mixtape_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .mixtape-title {
    }

#cassette {
  background-color: #1b222c;
  grid-area: cassette;
  overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el div */
  display: flex;
  justify-content: center;
  position: relative;
}
  #tape {
    width: auto;
    height: 90%; /* La altura se ajustará automáticamente para mantener la proporción */
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }

  #tape-background {
    background-color: rgb(19, 20, 20);
    position: absolute;
    top: 2.5rem;
    width: 390px;
    height: 180px;
  }
  #background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#community {
  background-color: #1b222c;
  grid-area: community;
}

#player_panel {
  background-color: #1b222c;
  grid-area: player_panel;

  width: 100%;
  text-align: center;
}
  #player_buttons {
    font-size: x-large;
    letter-spacing: 1rem;
  }
  #progress {
    width: 70%;
  }


@media only screen and (max-width:550px) {
  .container-fluid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3fr 0.5fr 1fr 2.5fr;
    grid-template-areas:
    "navbar"
    "cassette"
    "player_panel"
    "mixtapes"
    "community"
    ;
  }

  #player_buttons {
    font-size: large;
  }

  #tape-background {
    top: 1.5rem;
    width: 280px;
    height: 140px;
  }

  #mixtapes {
    display: flex;
    flex-direction: row;
    
    
    overflow: auto;
    white-space: nowrap;
  }

  .mixtape_image {
  }
}