.container-fluid {
  background-color: #12151c;
  color: white;
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2fr 0.4fr 1.2fr;
  grid-template-areas: 
  "navbar navbar navbar navbar"
  "mixtapes cassette cassette cassette"
  "mixtapes player_panel player_panel player_panel"
  "mixtapes community community community"
  ;
  grid-gap: 0.5rem;
}

#navbar {
  background-color: #1b222c;
  grid-area: navbar;
}






#community {
  background-color: #1b222c;
  grid-area: community;
}
  .fa-star {
    color: #DF3889;
  }

#player_panel {
  background-color: #1b222c;
  grid-area: player_panel;

  width: 100%;
  text-align: center;
}
  #player_buttons {
    font-size: x-large;
    letter-spacing: 1rem;
  }
  #progress {
    width: 70%;
  }


@media only screen and (max-width:550px) {
  .container-fluid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3fr 0.5fr 1fr 2.5fr;
    grid-template-areas:
    "navbar"
    "cassette"
    "player_panel"
    "mixtapes"
    "community"
    ;
  }

  #player_buttons {
    font-size: large;
  }

  #tape-background {
    top: 1.5rem;
    width: 280px;
    height: 140px;
  }

  #mixtapes {
    display: flex;
    flex-direction: row;
    
    overflow: auto;
    white-space: nowrap;
  }

  .mixtape_image {
  }
}