.container-fluid {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 1.2fr;
  grid-template-areas: 
  "mixtapes cassette cassette cassette"
  "mixtapes cassette cassette cassette"
  "mixtapes cassette cassette cassette"
  "mixtapes community community community"
  ;
  grid-gap: 0.3rem;
}

#mixtapes {
  background-color: turquoise;
  grid-area: mixtapes;
}

#cassette {
  background-color: aqua;
  grid-area: cassette;
}

#community {
  background-color: aquamarine;
  grid-area: community;
}

@media only screen and (max-width:550px) {
  .container-fluid {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr .7fr 2.5fr;
    grid-template-areas:
    "cassette"
    "mixtapes"
    "community"
    ;
  }
  
}